<div class="intro-main">
  <div class="container">
    <div class="intro-message">
      <h2>
      本サイトに訪問してくれてありがとうございます。
      <br>
      下地　雄彦（しもじ　たけひこ）と申します。
      </h2>
      <p>私のGithubリポジトリは
        <a href="https://github.com/shimojit?tab=repositories" target="_blank">こちら</a>
      </p>
      <li><%= link_to("学習ページ", "/learn") %></li>
    </div>
  </div>
</div>