<div class="main top-main">
  <div class="top-message">
    <h2>
    本サイトに訪問してくれてありがとうございます。
    下地　雄彦（しもじ　たけひこ）と申します。
    </h2>
    <p>私のGithubリポジトリは<a href="https://github.com/shimojit?tab=repositories">こちら</a></p>
    
  </div>
</div>