<div class="learn-main">
  <div class="container">
    <div class="learn-title">
      <h3>「こんな機能を実装できる？」</h3>
      <p>未熟者ですが、日々の学習と現場の声に耳を傾けるため、リクエスト募集中です。</p>
    </div>
    <div class="learn-request">
      <p>フレームワーク</p>
      <input value="RubyonRails6">
      <p>誰から</p>
      <input>
      <p>期限</p>
      <input>
      <p>リクエスト内容</p>
      <textarea></textarea>
      <p>通知</p>
      <input>
      <p>メールアドレス</p>
      <input>
    </div>
  </div>
</div>